@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.MuiTypography-root,
.MuiButtonBase-root,
.MuiInputBase-root,
.MuiInputLabel-root,
.MuiTableCell-root {
  font-family: 'SUIT', -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

em {
  font-style: normal;
}

/* @media screen and (max-height: 840px) {
  .container1 {
    padding-top: 45px!important;
    padding-bottom: 45px!important;
  }
} */

.container1 {
  padding: 90px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.searchBox {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px 10px 8px 20px;
  background-color: #FFFFFF;
  border-radius: 30px;
  /* box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.14), 0px 5px 10px 1px rgba(0,0,0,0.14), 0px 3px 10px 2px rgba(0,0,0,0.14); */
  box-shadow: 0px 5px 16px #8a959e45
}

.shadow {
  box-shadow: 0px 5px 16px #8a959e45
}

.slick-track {
  padding-top: 20px;
  padding-bottom: 25px;
}

button.gButton {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

button.gButton:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
  background-color: #f8fafe;
  box-shadow: none;
  border-color: #d2e3fc;
  outline: none;
}

button.gButton:focus,
button.gButton:focus-visible,
button.gButton:active:focus,
button.gButton:disabled {
  -webkit-box-shadow: none;
  background-color: #edf2fd;
  box-shadow: none;
  border-color: #d2e3fc;
  outline: none;
}

.gButton1 {
  -webkit-transition: background-color .218s;
  transition: background-color .218s;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gButton2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}

.gIcon {
  display: inline-block !important;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  min-width: 18px;
}

.gText {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

input.filled {
  padding: 8px 15px;
  border-radius: 10px;
  width: 370px;
  font-size: 16px;
  background-color: #F7F6F5;
}

input.filled:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

input.filled:focus-visible {
  outline: none;
}

.css-9mgopn-MuiDivider-root {
  border-color: #F7F6F5 !important;
}

.output-wrap {
  padding: 2px 8px;
  min-width: unset;
  gap: 10px;
  cursor: default;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 160%;
  color: #271D16;
  background-color: #F7F6F5;
  border-radius: 20px !important;
  user-select: none;
}

.output-wrap2 {
  padding: 2px 8px;
  min-width: unset;
  gap: 10px;
  cursor: default;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 160%;
  color: #FD9E5E;
  background-color: #FFEFE5;
  border-radius: 20px !important;
  user-select: none;
}


.toastui-editor-defaultUI {
  z-index: 9;
}

.slick-dots {
  display: flex !important;
  position: unset;
  justify-content: center;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
  height: 8px;
  width: auto;
}

.slick-dots li button {
  display: flex;
  justify-content: center;
  width: 8px !important;
  height: 8px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #D0CECC !important;
  transition: all .3s;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #FD9E5E !important;
  width: 22px !important;
  border-radius: 25px;
}

.slick-slider {
  max-width: 100vw;
  width: 100%;
  overflow: hidden !important;
}

.slick-list {
  max-height: 262px;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-next-main {
  background: url(./assets/images/slide_next.svg) !important;
  color: black;
  background-size: contain !important;
  right: 16px !important;
  z-index: 1;
  top: 111px !important;
}

.slick-prev-main {
  background: url(./assets/images/slide_prev.svg) !important;
  background-size: contain !important;
  left: 16px !important;
  z-index: 1;
  top: 111px !important;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}